#stages:
#  - test
#  - deploy
#
#test:
#  stage: test
#  script:
#    - python3 ./manage.py test
#  tags:
#    - dev-ubuntu
#
#rm_db:
#  stage: deploy
#  script:
#    - rm db.sqlite3
#    - cp -r * /root/firewall/

stages:
  - test

test:
  stage: test
  script:
    - ls
    - pwd
    - ip add show
  only:
    - master
  tags:
    - dev-ubuntu