stages:
  - install-dep
  - test
  - deploy
  - security-scan

build:
  stage: install-dep
  tags:
    - dev-ubuntu
  script:
    - pip3 install -r ./requirement.txt

test:
  stage: test
  script:
    - ls -l
    - pwd
    - python3 ./manage.py test
    - rm db.sqlite3
    #- cp -r * /home/firewall/
#  only:
#    - master
  tags:
    - dev-ubuntu

deploy:
  stage: deploy
  tags:
    - dev-ubuntu
  script:
     - cp -rf * /home/firewall/
     - systemctl restart firewall-web.service
     - systemctl restart firewall-collector.service

security_scan:
  stage: security-scan
  tags:
    - securityScan
  script:
    # - git clone http://10.10.4.2/denggb/firewall.git
    - /usr/local/bin/bandit -r .
