[Unit]
Description="firewall-collector"
After=firewall-web.service

[Service]
WorkingDirectory=/home/firewall
Restart=always
ExecStart=/usr/bin/python3 ./scripts/collector.py --server 127.0.0.1:8000
KillMode=process
KillSignal=SIGTERM